
@use "style";

#ArticleInfo dl {
    @extend .Frame;
    @extend .MultirowFlexContainer;
    padding: 0;
}

#ArticleInfo * {
    padding: 0;
    margin: 0
}

#ArticleInfo img {
    max-height: 2cm;
}

#ArticleInfo h1 {
    font-size: 5mm
}

#ArticleInfo dd {
    margin: 0
}

#ArticleInfo dt {
    @extend .MultirowFlexContainer;
    padding-left: 2mm;
}

#ArticleInfo dt * {
    margin: 0
}

#ArticleInfo > dl > div {
    display: grid;
    padding: 0 2mm 0 2mm
}

#ArticleInfo dl div dd {
    grid-column: 1
}

#ArticleInfo dl div dt {
    grid-column: 2
}
