
@use "style";

#ArticleInfo dl {
    @extend .Frame;
    @extend .MultirowFlexContainer;
    padding: 0;
}

#ArticleInfo * {
    padding: 0;
    margin: 0
}

#ArticleInfo img {
    max-height: 2cm;
}

#ArticleInfo h1 {
    font-size: 5mm
}

#ArticleInfo dd {
    margin: 0
}

#ArticleInfo dt {
    @extend .MultirowFlexContainer;
    padding-left: 2mm;
}

#ArticleInfo dt * {
    margin: 0
}

#ArticleInfo > dl > div {
    display: grid;
    padding: 0 2mm 0 2mm;
    border: lightgrey 0.5mm solid
}

#ArticleInfo > dl > div:hover {
    border: grey 0.5mm solid
}

#ArticleInfo > dl > div > dt {
    grid-column: 1;
}

#ArticleInfo > dl > div > dd {
    grid-column: 2;
    padding-left: 2mm
}

#ArticleInfo > dl > div > dd > * {
    padding-left: 2mm
}

#ArticleInfo dl div dt > * {
    padding-left: 2mm
}

#ArticleInfo #ArticleLangs > div {
    text-decoration: underline
}

#RawEventView {
    @extend .Scrollable;
    @extend .Frame
}

#ArticleEditor {
    @extend .Frame;
    display: flex;
    flex-direction: column;
    //box-sizing:border-box
    min-height: fit-content
}

#ArticleEditor #ArticlePreviewButton {
    background: lightgreen
}

#ArticleEditor #ArticlePublishButton {
    background: orange
}

#ArticleEditBar {
    @extend .MultirowFlexContainer;
}

.List {
    display: inline-block;
    max-width: 32dvh
}

#ArticleEditor #Topics,
#ArticleEditor #Categories,
#ArticleEditor #Languages,
#ArticleEditor #Tags {
    @extend .List;
}

#ArticleEditor textarea {
    @extend .Scrollable;
    width: 100%;
    height: 100dvh;
}

#ArticleEditor textarea#ArticleSummary {
    height: 33dvh;
}

#ArticleEditor .Item {
    @extend .RemovableItem
}

#ArticleEditor .Item > span {
    display: inline-block;
    padding: 1mm;
    border: 0.5mm grey solid;
}

#ArticleEditor .Item > span:not(:last-child) {
    margin-right: 1mm
}