
@use 'style';

#ActiveRelaysHeader {
    @extend .MultirowFlexContainer
}

.RelayHeadMain {
    @extend .OnerowFlexContainer;
}

.RelayHeadMore {
    @extend .OnerowFlexContainer;
}

.RelayHeadMore label.RelayTrusted {
    margin-left: auto
}

.RelayHead * {
    margin: 1mm;
}

.RelayHeadMain > div.RelayStatus {
    margin-left: auto
}

.RelayHeadMain > a.RelayUrl {
    margin-left: 1mm
}

.RelayHead > * {
    padding: 0;
    margin: 0
}

.RelayHead label {
    padding: 0;
    margin: 0
}

.RelayInfo * {
    max-height: 2cm
}

.RelayInfo tbody tr:nth-child(odd) {
    background: lightgrey
}

.RelayHead {
    border: white solid 1mm
}

.RelayHead .connected {
    background-color: green
}

.RelayHead .disconnected {
    background-color: grey
}

.RelayHead .Challenge, .Notice {
    display: none
}

#ActiveRelays div:nth-child(odd) .RelayHead, #OtherRelays div:nth-child(odd) .RelayHead {
    background: lightgray;
}

#ActiveRelays div:nth-child(odd) .RelayHead, #OtherRelays div:nth-child(odd) .RelayHead {
    border: lightgrey solid 1mm
}

#ActiveRelays .RelayHead:hover, #OtherRelays .RelayHead:hover,
#ActiveRelays div:nth-child(odd) .RelayHead:hover, #OtherRelays div:nth-child(odd) .RelayHead:hover {
    border: lightcoral solid 1mm
}
