
@use 'style';

.RelayItem {
    display: flex;
    flex-direction: column;
    min-width: fit-content
}

.RelayHead * {
    margin: 1mm;
}

#RelaysHeader {
    @extend .MultirowFlexContainer
}

#RelaysHeader > * {
    margin-right: 3mm
}

#RelaysNewUrl input {
    margin-left: 2mm
}

#RelaysHeader > #RelaysButtons * {
    margin: 1mm
}

.RelayHeadMain {
    @extend .OnerowFlexContainer;
}

.RelayHeadMore {
    @extend .OnerowFlexContainer;
}

.RelayHeadMore span.Begin {
    margin-left: auto
}

.RelayHeadMain > div.RelayStatus {
    margin-left: auto
}

.RelayHeadMain > a.RelayUrl {
    margin-left: 1mm
}

.RelayHead > * {
    padding: 0;
    margin: 0
}

.RelayHead label {
    padding: 0;
    margin: 0
}

.RelayInfo {
    display: flex;
    background: white;
}

.RelayInfo table.Info {
    border: grey solid 0.5mm;
    margin: auto
}

.RelayInfo img {
    max-height: 2cm
}

.RelayInfo table {
    background: white;
}

.RelaysList .RelayItem {
    border: white solid 1mm;
    margin: 0
}

.RelaysList .RelayHead .connected {
    background-color: green
}

.RelaysList .RelayHead .disconnected {
    background-color: grey
}

.RelaysList .RelayHead .Challenge, .Notice {
    display: none
}

.RelaysList .RelayItem:nth-child(odd) {
    background: lightgray;
    border: lightgrey solid 1mm
}

.RelaysList .RelayItem:hover {
    border: lightcoral solid 1mm
}

#ActiveRelays, #OtherRelays {
    @extend .RelaysList
}
