
a:not(:where(#ArticleView a)), label:not(#ArticleView label) {
    display: inline-flex;      /* Prawidłowe zachowanie wierszowe */
    align-items: center;
    padding: 0.2cm;
}

a:not(#ArticleView a):hover, label:not(#ArticleView label):hover {
    background-color: lightgray;
}

.hidden { display: none }

/*div:not(#ArticleView div) { display: flow-root; }*/

.block {
    display: block;
    float: left;
    margin: 0.2cm
 }

#MainNav {
    display: block flow-root;
    margin-bottom: 0.5cm;
    border-bottom: 0.05cm black solid;
}

.Frame {
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.05cm lightgrey solid;
}

code {
    white-space: pre-wrap;     /* Zachowuje formatowanie, ale pozwala na zawijanie */
    overflow-wrap: anywhere;   /* Wymusza przełamanie nawet długiego ciągu bez spacji */
    word-break: break-word;    /* Kompatybilność wsteczna */
}

.Scrollable {
    display: block;
    overflow-y: auto;
    /*overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;*/
    height: 100vh
}

#MainView div.ArticleHead {
    display: block;
    clear: both;
    padding: 2mm;
    margin: 2mm;
    border: lightgray solid 0.05cm
}

div.ArticleHead a.ArticleTitle {
    float: left;
    border-right: lightgrey solid 0.5mm;
    padding-left: 5mm;
    padding-right: 7mm;
    margin-right: 5mm
}

div.ArticleHead div.ArticleAuthor {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

div.ArticleHead div.ArticleAuthor > a,
div.ArticleHead div.ArticleAuthor > img,
div.ArticleHead div.ArticleAuthor > div {
  display: inline-flex;      /* Prawidłowe zachowanie wierszowe */
  align-items: center;
  float: none;
  max-height: 1cm;
  max-width: 100%;
  min-width: 0;
}

div.ArticleHead div.ArticleAuthor div.CreationTime {
    margin-left: 1cm
}

#ArticleInfoHeader, #ArticleSettingsHeader {
    display: flex
}

#ArticleInfoHeader div, img, h1, a {
    display: inline-block;
    align-self: center;
    margin: 0.2cm;
    max-height: 2cm;
}

#ArticleSettingsHeader div, label, input, select {
    display: inline-block;
    align-self: first baseline;
    margin: 0.2cm;
}

#ArticleInfoHeader h1 {
    margin-right: 2cm
}
