
a:not(#ArticleView a), label:not(#ArticleView label) {
    display: block;
    float: left;
    padding: 0.2cm;
}

a:not(#ArticleView a):hover, label:not(#ArticleView label):hover {
    background-color: lightgray;
}

.hidden { display: none }

div:not(#ArticleView div) { display: flow-root; }

.block {
    display: block;
    float: left;
    margin: 0.2cm
 }

#MainNav {
    display: block flow-root;
    margin-bottom: 0.5cm;
    border-bottom: 0.05cm black solid;
}

.SettingsGroup, #ArticleView {
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.05cm lightgrey solid;
}

code {
    white-space: pre-wrap;     /* Zachowuje formatowanie, ale pozwala na zawijanie */
    overflow-wrap: anywhere;   /* Wymusza przełamanie nawet długiego ciągu bez spacji */
    word-break: break-word;    /* Kompatybilność wsteczna */
}

.Scrollable {
    display: block;
    overflow-y: auto;
    /*overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;*/
    height: 100vh
}

#ArticleViewHeader {
    display: flex
}

#ArticleViewHeader div, h1, label, input, select {
    display: inline-block;
    align-self: first baseline;
    margin: 0.2cm;
    position: relative;
    bottom: 0;
}

#ArticleViewHeader h1 {
    margin-right: 2cm
}
