
input {
    display: inline-block;
    margin: 0.2cm;
}

a:not(:where(#ArticleView a)), label:not(:where(#ArticleView label)) {
    display: inline-flex;      /* Prawidłowe zachowanie wierszowe */
    align-items: center;
    padding: 0.2cm;
}

a:not(:where(#ArticleView a)):hover, label.active:not(:where(#ArticleView label)):hover {
    background-color: lightgray;
}

.hidden { display: none }

/*div:not(#ArticleView div) { display: flow-root; }*/

.block {
    display: block;
    float: left;
    margin: 0.2cm
}

#MainNav {
    display: block flow-root;
    margin-bottom: 0.5cm;
    border-bottom: 0.05cm black solid;
}

.Frame {
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.05cm lightgrey solid;
}

code {
    white-space: pre-wrap;     /* Zachowuje formatowanie, ale pozwala na zawijanie */
    overflow-wrap: anywhere;   /* Wymusza przełamanie nawet długiego ciągu bez spacji */
    word-break: break-word;    /* Kompatybilność wsteczna */
}

.Scrollable {
    display: block;
    overflow-y: auto;
    /*overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;*/
    height: 100vh
}

.MultirowFlexContainer {
    display: flex;
    flex-wrap: wrap;
}

.MultirowFlexContainer * {
    display: inline-flex;
    flex: 0 1 auto;
    align-self: first baseline;
    align-items: center;
    margin: 2mm;
}

.OnerowFlexContainer {
    display: flex
}

.OnerowFlexContainer * {
    display: inline-block;
    align-self: center;
    padding: 2mm;
    margin: 2mm;
}

#FinderForm {
    @extend .MultirowFlexContainer
}

div.ArticleHead {
    @extend .OnerowFlexContainer;
    @extend .Frame
}

div.ArticleHead img {
    padding: 0;
    margin: 0;
    max-height: 1cm
}

div.ArticleHead div.ArticleAuthor {
    padding: 0;
    margin: 0
}

div.ArticleHead a.ArticleTitle {
    border-right: lightgrey solid 0.5mm;
    padding-left: 5mm;
    padding-right: 7mm;
    margin-right: 5mm
}

div.ArticleHead div.ArticleAuthor {
    display: flex;
}

div.ArticleHead div.CreationTime {
    text-decoration: underline;
}

#ArticleInfoHeader {
    @extend .Frame;
    @extend .OnerowFlexContainer;
    padding: 0
}

#ArticleInfoHeader img {
    max-height: 2cm;
    margin: 0
}

#ArticleInfoHeader #ArticleTitleGroup {
    display: flex;
    flex-direction: column;
    /*max-height: 2cm*/
}

#ArticleInfoHeader #ArticleTitleGroup {
    margin: 0 5mm 0 5mm
}

#ArticleInfoHeader #ArticleTitleGroup div.row {
    display: block;
    margin: 0;
    padding: 0
}

#ArticleInfoHeader #ArticleTitleGroup div.row * {
    padding: 0;
    margin: 0
}

#ArticleInfoHeader #ArticleTitleGroup div.row a {
    margin: 0;
    padding: 0mm 0.2mm 0mm 2mm
}

#ArticleInfoHeader h1 {
    font-size: 5mm;
}

#ArticleInfoHeader #AuthorNickAndCreationTime {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#ArticleInfoHeader #AuthorNickAndCreationTime * {
    margin: 0;
    padding: 0
}


#ArticleInfoHeader #AuthorNickAndCreationTime a {
    padding: 1mm 2mm 1mm 4mm
}

#ArticleInfoHeader, #ArticleSettingsHeader {
    display: flex;
    flex-wrap: wrap
}

#ArticleSettingsHeader {
    @extend .Frame;
    @Extend .MultirowFlexContainer
}
