
input, select, button, label {
    display: inline-block;
    padding: 0.2cm;
}

label input {
    margin: 0 0 0 2mm
}

a:not(:where(#ArticleView a)) {
    display: inline-flex;
    align-items: center;
    padding: 0.2cm;
}

a:not(:where(#ArticleView a)):hover, label.active:not(:where(#ArticleView label)):hover {
    background-color: lightgray;
}

label.Active {
    padding: 2mm;
    border: white solid 0.5mm
}

label.Active:hover {
    background: lightgray;
    border: grey solid 0.5mm
}

label.Active input {
    padding: 0
}

.hidden { display: none }

/*div:not(#ArticleView div) { display: flow-root; }*/

.block {
    display: block;
    float: left;
    margin: 0.2cm
}

.Info {
    display: grid;
    grid-template-columns: max-content;
    background: white;
}

.Info .Section {
    grid-column: span 2;
}

.Info dt {
    grid-column: 1;
    padding: 1mm;
    margin: 0.5mm
}

.Info dt:nth-of-type(odd) {
    background: lightgray;
}

.Info dd {
    grid-column: 2;
    padding: 1mm;
    margin: 0.5mm
}

.Info dd:nth-of-type(odd) {
    background: lightgray;
}

table.Info td {
    padding: 1mm
}

#MainNav {
    display: block flow-root;
    margin-bottom: 0.5cm;
    border-bottom: 0.05cm black solid;
}

.Frame {
    margin: 0.2cm;
    padding: 0.2cm;
    border: 0.05cm lightgrey solid;
}

code {
    white-space: pre-wrap;     /* Zachowuje formatowanie, ale pozwala na zawijanie */
    overflow-wrap: anywhere;   /* Wymusza przełamanie nawet długiego ciągu bez spacji */
    word-break: break-word;    /* Kompatybilność wsteczna */
}

.Scrollable {
    display: block;
    overflow-y: auto;
    /*overflow-wrap: anywhere;
    word-break: break-all;
    white-space: normal;*/
    max-height: 100vh
}

.MultirowFlexContainer {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content
}

.MultirowFlexContainer * {
    display: inline-flex;
    flex: 0 1 auto;
    //align-self: first baseline;
    align-items: center;
}

.MultirowFlexContainer > * {
    margin: 1mm
}

.OnerowFlexContainer {
    display: flex;
    min-width: fit-content
}

.OnerowFlexContainer * {
    display: inline-block;
    align-self: center;
    padding: 2mm;
    margin: 2mm;
}

#Notice, #Warning, #Error {
    display: none
}

.Message {
    font-weight: bold;
    font-size: 8mm
}

#Error {
    color: red
}

#Warning {
    color: orange
}

#FinderForm {
    @extend .MultirowFlexContainer;
    @extend .Frame
}

#FinderForm label {
    padding: 0 2mm 0 2mm;
    margin: 0
}

div.ArticleHead {
    @extend .OnerowFlexContainer;
    @extend .Frame
}

div.ArticleHead * {
    margin: 0
}

div.ArticleHead img {
    padding: 0;
    max-height: 1cm
}

div.ArticleHead div.ArticleAuthor {
    display: flex;
    padding: 0;
}

div.ArticleHead div.ArticleAuthor * {
    margin: 0
}

div.ArticleHead div.CreationTime {
    text-decoration: underline;
}

div.ArticleHead a.ArticleTitle {
    border-right: lightgrey solid 0.5mm;
    padding-left: 5mm;
    padding-right: 7mm;
    margin-right: 5mm
}

div.ArticleHead div.Summary, div.ArticleHead div.Topics {
    padding: 0
}


#ArticleSettingsHeader {
    @extend .Frame;
    @extend .MultirowFlexContainer;
    padding: 0
}

#ArticleSettingsHeader > * {
    margin: 0 1mm 0 1mm
}
